.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.grow { 
  transition: all .2s ease-in-out; 
  background: #eee;
  border: 1px solid transparent;
}
  
.grow:hover { 
  transform: scale(1.2); 
  background: #e1e1e1;
  border: 1px solid #00ff40;
}
