{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    Hawkshaw Bug Tracker - {% block title %}Dashboard{% endblock %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Hawkshaw Bug Tracker - Sign up page">
<meta name="author" content="JayStabins">
<meta name="description" content="Hawkshaw Bug Tracker.">
<meta name="keywords" content="Bug Tracker" />
<link rel="canonical" href="https://hawkshaw.jaystabins.com">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://hawkshaw.jaystabins.com">
<meta property="og:title" content="Hawkshaw Bug Tracker - Dashboard">
<meta property="og:description" content="Hawkshaw Bug Tracker.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://hawkshaw.jaystabins.com">
<meta property="twitter:title" content="Hawkshaw Bug Tracker - Dashboard">
<meta property="twitter:description" content="Hawkshaw Bug Tracker.">
<meta property="twitter:image" content="">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static '/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static '/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static '/img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">


<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link type="text/css" href="{% static '/css/volt.css' %}" rel="stylesheet">
<link type="text/css" href="{% static '/css/project.css' %}" rel="stylesheet">

<!-- HTMX -->
 <script src="https://unpkg.com/htmx.org@1.8.4"></script>

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% include 'includes/sidebar.html' %}
    
    <main class="content">

      {% include 'includes/navigation.html' %}

      {% block content %}{% endblock content %} 

      {% include 'includes/settings-box.html' %}

      {% include "includes/toasts.html" %}

      {% comment %} {% include 'includes/footer.html' %} {% endcomment %}

    </main>
  {% block modal %}
  <!-- Modal -->
  <div class="modal fade" data-bs-backdrop="static" id="static_modal" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content" id='modal-swap'>
          <!-- HTMX Modal Content goes here -->
          </div>
      </div>
  </div>
  {% endblock modal %}
  {% include 'includes/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  

  <script>
        document.addEventListener('htmx:afterRequest', function(event) {
          var trigger = event.detail.xhr.getResponseHeader('HX-Trigger');
          if (typeof trigger === 'string') {
            trigger = JSON.parse(trigger);
          }
          if (trigger && trigger.hasOwnProperty("close_modal")){
            var myModalEl = document.getElementById('static_modal');
            var modal = bootstrap.Modal.getInstance(myModalEl);
            modal.hide();
          }
        });
  </script>
      
</body>
</html>
